.container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(173, 173, 42);
}
body{
    background-color: aquamarine;
}

input, select, button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #dc7c59;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e76d1c;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}